/* ======================
  MAIN STYLES
  ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

/* ======================
  HEADER STYLES
====================== */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  min-height: 70px;
  background-color: #18126b;
  font-size: 24px;
  z-index: 10;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

/* Navigation */
header nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Vierkante knoppen */
header nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #18126b;
  padding: 12px 25px;
  border: 1px solid white;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

/* Button Hover */
header nav a:hover {
  background-color: #2d277b;
}

/* ======================
  HOMEPAGE STYLES
====================== */
.homepage {
    margin: 20vh 50vh;
    padding: 100px 40px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #18126b;
}

.homepage h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.homepage p {
    font-size: 24px;
    margin-bottom: 50px;
}

.homepage img {
    height: 200px;
    margin-bottom: 20px;
}

.homepage a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  background-color: #18126b;
  padding: 20px 35px;
  border: 1px solid white;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.homepage a:hover {
    background-color: #2d277b;
    color: rgb(214, 214, 214);
}